// External Imports
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Variables
$clr-gray-l: #eef3f4;
$clr-gray-m: #a9b4b7;
$clr-gray-d: #555a5b;
$clr-green-l: #8fd861;
$clr-green-d: #2cc695;

$ts: all 0.2s;

// Initial Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: inherit;
  border: none;
}

button {
  background-color: initial;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// Base Styles

.page {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  background-image: url(https://bytegrad.com/course-assets/css/2/pattern.svg),
    linear-gradient(to bottom right, $clr-green-l, $clr-green-d 90%);
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  width: 1240px;
  height: 1030px;
  background-color: #fff;
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.65);
  margin: 80px 0;
  display: grid;
  grid-template-columns: 355px 1fr;
  grid-template-rows: 65px 724px 1fr;
}

// Styles

.header {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 48px 0 26px;
}

.search {
  position: relative;
  &__input {
    background-color: $clr-gray-l;
    height: 34px;
    width: 405px;
    border-radius: 500px;
    font-size: 13px;
    color: #555a5b;
    padding-left: 20px;
    outline: none;
    transition: $ts;
    &:focus {
      width: 425px;
    }
    &::placeholder {
      color: $clr-gray-m;
    }
  }
  &__submit {
    font-size: 15px;
    color: $clr-gray-m;
    cursor: pointer;
    transition: $ts;
    /* transform: translateX(-40px); */
    position: absolute;
    right: 13px;
    top: 8px;
    &:focus {
      color: #555a5b;
    }
  }

  &__icon {
  }
}

.nav {
  margin-left: auto;
  &__list {
    display: flex;
  }
  &__item {
  }
  &__link {
    display: block;
    height: 65px;
    padding: 0 20px;
    transition: $ts;
    line-height: 65px;
    &:hover,
    &:active,
    &:focus {
      background-color: #eef3f4;
    }
    &:focus {
      outline: none;
    }
  }

  &__icon {
    color: $clr-gray-m;
    font-size: 22px;
  }
}

.sidebar {
  background-color: #11271f;
  grid-column: 1/2;
  grid-row: 2/4;
}
.gallery {
  background-color: #eef3f4;
  grid-column: 2/3;
  grid-row: 2/3;
  color: black;
}
.steps {
  background-color: #e7edee;
  grid-column: 2/3;
  grid-row: 3/4;
}
